<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine All</title>

  <link rel="shortcut icon" type="image/png" href="../lib/jasmine-2.6.1/jasmine_favicon.png">
  <link rel="stylesheet" href="../lib/jasmine-2.6.1/jasmine.css">

  <script src="../lib/jquery-2.2.4.min.js"></script>
  <script src="../lib/jasmine-2.6.1/jasmine.js"></script>
  <script src="../lib/jasmine-2.6.1/jasmine-html.js"></script>
  <script src="../lib/jasmine-2.6.1/boot.js"></script>

   <!-- <script src="profile/local.js"></script> -->
  <script src="../profile/dev.js"></script>

  <!-- include source files here... -->
  <script src="../src/DecimalAdjust.js"></script>
  <script src="../src/Common.js"></script>
  <script src="../src/FrontApi.js"></script>
  <script src="../src/WsApi.js"></script>
  <script src="../src/Payment.js"></script>
  <script src="../src/CommonOrderActions.js"></script>
  <script src="../src/CommonValidate.js"></script>
  <script src="../src/ServiceValidate.js"></script>
  <script src="../src/BackofficeApi.js"></script>
  <script src="../src/ExtApi.js"></script>
  <script src="../src/ConnectflexiApi.js"></script>


  <!-- include spec files here... -->

  <!-- account -->
  <script src="../spec/account/AccountSpec.js"></script>
  <script src="../spec/account/AccountRegistrationSpec.js"></script>
  <script src="../spec/account/AccountBanners.js"></script>

  <!-- APP -->
  <script src="../spec/app/AppSpec.js"></script>
  <script src="../spec/app/IconsSpec.js"></script>

  <!-- autocomplete -->
  <script src="../spec/autocomplete/AutocompleteSpec.js"></script>
  <script src="../spec/autocomplete/AutocompleteSpecSplit.js"></script>

  <script src="../spec/avatar/AvatarSpec.js"></script>

  <!-- deposit -->
  <script src="../spec/deposit/DepositSpec.js"></script>

  <!-- event tickets -->
  <script src="../spec/eventticket/EventTicketSplitSpec.js"></script>

  <!-- hotel -->
  <script src="../spec/hotel/HotelRetrieveSpec.js"></script>


  <script src="../spec/map/MapSpec.js"></script>

  <script src="../spec/notice/NoticeSpec.js"></script>

  <!-- order -->
  <script src="../spec/order/OrderSpec.js"></script>
  <script src="../spec/orders/OrdersSpec.js"></script>

  <!-- person -->
  <script src="../spec/person/PersonSpec.js"></script>
  <script src="../spec/persongroups/PersonGroupsSpec.js"></script>
  <script src="../spec/persons/PersonsSpec.js"></script>

  <script src="../spec/scan/ScanSpec.js"></script>

  <!-- service -->
  <script src="../spec/service/ConnectflexiApiSpec.js"></script>
  <script src="../spec/service/ServiceAccSpec.js"></script>
  <script src="../spec/service/ServiceAccRoomsSpec.js"></script>
  <script src="../spec/service/ServiceAccMultiSpec.js"></script>
  <script src="../spec/service/ServiceAccSpecB2C.js"></script>
  <script src="../spec/service/ServiceTransferSpec.js"></script>
  <script src="../spec/service/ServiceExcursionSpec.js"></script>
  <script src="../spec/service/ServiceAirSpec.js"></script>
  <script src="../spec/service/ServicePackageSpec.js"></script>
  <script src="../spec/service/ServiceSpec.js"></script>
  <script src="../spec/service/ServiceExtraSpec.js"></script>
  <script src="../spec/service/ServiceAccDayUseSpec.js"></script>
  <script src="../spec/service/ServiceEventTicketsSpec.js"></script>

  <!-- EXT API -->
  <script src="../spec/service/ExtApiSpec.js"></script>
  <script src="../spec/service/ExtApiLocationSpec.js"></script>
  <script src="../spec/service/ExtApiInfoSpec.js"></script>

  <!-- settings -->
  <script src="../spec/settings/SettingsSpec.js"></script>

  <!-- reviews -->
  <script src="../spec/reviews/ReviewsSpec.js"></script>


  <script src="../spec/yacht/YachtSpec.js"></script>
</head>

<body>
</body>
</html>
